@tailwind base;
@tailwind components;
@tailwind utilities;


/* TODO add light theme */
:root {
  
  --foreground-light-rgb: 42, 42, 42;
  --background-light-rgb: 255, 255, 255;
  --secondary-light-rgb: 200, 200, 200;


  --foreground-dark-rgb: 158, 158, 158;
  --background-dark-rgb: 30, 30, 30 ;
  --secondary-dark-rgb: 45 45 45;
  
  --foreground-rgb: var(--foreground-light-rgb);
  --background-rgb: var(--background-light-rgb);
  --secondary-rgb: var(--secondary-light-rgb);

}

[data-theme="dark"] {
  --foreground-rgb: var(--foreground-dark-rgb);
  --background-rgb: var(--background-dark-rgb);
  --secondary-rgb: var(--secondary-dark-rgb);
}


body {
  color: rgb(var(--foreground-rgb)) ;
  background: rgb(var(--background-rgb)) ; 
}
.bg-theme-secondary {
  background: rgb(var(--secondary-rgb)) ; 
}

*::placeholder {
  color: rgb(var(--foreground-rgb)) !important;
  opacity: 0.4 !important;
}