.reactMarkDown .reactMarkDown p {
    margin: 1em 0;
}

.reactMarkDown p strong {
    font-weight: bold;
}

.reactMarkDown ul {
    margin-top: 1em;
    margin-bottom: 1em;
    list-style: disc outside none;
}

.reactMarkDown ul li {
    margin-left: 2em;
    display: list-item;
    list-style: circle outside none;
    text-align: -webkit-match-parent;
}